@font-face {
    font-family:Ranade;
    src: url(Ranade-Regular.otf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Ranade;
    
}
body{
    background-color:#DDE6ED;
    min-height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    background-color: #fbfcf8;
    height: 90vh;
    width: 75vw;
    border-radius: 50px;
    margin-top: 30px;
}
.skill-brew-skills,.form-services,.footer{
    background-color: #3d75be;
    height: 60vh;
    width: 75vw;
    border-radius: 50px;
    margin-top: 30px;
}
.advert-form,.review{
    background-color: #fbfcf8;
    height: 60vh;
    width: 75vw;
    border-radius: 50px;
    margin-top: 30px;
}


.copyright{
    background-color:#DDE6ED;
    height: 30px;
    width: 100%;
    margin-top: 20px;
    color: #02729e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.WebExp-link{
    text-decoration: none;
    color: inherit;
}
.navbar-custom{
    background-color: #fbfcf8;
    border-radius: 50px;
    margin: 20px 20px;
    color:#3d75be;
    
    font-family: 'Ranade', sans-serif;
    
}
nav.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-family: 'Ranade', sans-serif;
    font-size: 18px;
}
.navbar-brand{
    color: #3d75be;
    font-family: 'Ranade', sans-serif;
    font-family: 'Ranade', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}
.navbar-custom .navbar-brand:hover {
    color: #66b3ff;
}
.navbar-custom .nav-link:hover {
    color: #2fa5d3;
    transition: color 0.3s ease-in-out;
  }
  
.navbar-nav .nav-link {
    margin-right: 20px;
}
.dropdown-item{
    color: black;
    font-family: 'Ranade', sans-serif;  
}
.navbar-custom .btn-custom {
    background-color: #487fc7;
    border-radius: 30px;
    width: 100px;
    padding: 10px 20px;
}
.btn-custom:hover {
    background-color: #66b3ff;
}
.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 75vw;
}
.screen-text{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    width: 1200px;
    text-align: left;

}
.header .line{
    width: 50vh;
    border: 5px;
    border-style: solid;
    border-color: #1f4679;
    border-radius: 30px;
    margin-bottom: 200px;
    transition: width 0.3s, border-radius 0.3s;
}
.header .line:hover {
    width: 60vh;
    border-radius: 30px;
}
.centered-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-text {
    opacity: 0; /* Initially set the opacity to 0 */
    transform: translateY(20px); /* Move the element down a bit */
    animation: fadeInUp 1s ease forwards; /* Apply the animation */
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .skill-brew-container {
    display: flex;
    justify-content:space between;
    align-items: center;
    margin-bottom: 10px;
    gap:10px;
    width:400px;
  }
  
  .skill-list {
    flex: 1;
    padding: 3px;
    border: none;
    margin: 1px; 
    display: flex;
    align-items: center;
    font-size: 14px; 
  }
  
  .tick {
    margin-right: 2px;
    color:blue;
  }
  .skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    gap: 40px;
    text-align: left;
    margin:50px 0 0 50px;
  }