*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
    
}
body{
    background-color:#DDE6ED;
    min-height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    background-color: #fbfcf8;
    height: 90vh;
    width: 75vw;
    border-radius: 50px;
    margin-top: 30px;
}
.skill-brew-skills,.form-services,.footer{
    background-color: #205295;
    height: 60vh;
    width: 75vw;
    border-radius: 50px;
    margin-top: 30px;
}
.advert-form,.review{
    background-color: #fbfcf8;
    height: 60vh;
    width: 75vw;
    border-radius: 50px;
    margin-top: 30px;
}


.copyright{
    background-color:#DDE6ED;
    height: 30px;
    width: 100%;
    margin-top: 20px;
    color: #02729e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.WebExp-link{
    text-decoration: none;
    color: inherit;
}